@media (max-width: 375px) {
  body {
    font-size: 0.8rem;
  }

  .grid-container {
    font-size: 0.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 7.3rem auto;
    width: 20.5rem;
    margin-top: 9rem;

    .orange-box-image {
      width: 6rem;
      top: 0%;
      position: absolute;
      transform: translate(75%, -40%);
    }
  }

  /* -------------------- IMAGE CONTAINER ------------------ */

  .hero-container {
    overflow: visible;
    .background-pattern-image {
      top: 50%;
      left: 50%;
      position: absolute;
      width: 14.5rem;
      transform: translate(-50%, -82%);
    }
    .hero-image {
      width: 14.5rem;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -43%);
    }
  }
  /* -------------------- ACCORDION ------------------ */

  .accordion-container {
    padding: 1.4rem 1.4rem 3rem 1.4rem;
  }

  .accordion-title {
    text-align: center;
  }

  .question-text {
    font-size: 0.8rem;
  }

  /* -------------------- FOOTERR ------------------ */
  .attribution {
    margin: 2rem;

    p {
      font-size: 0.6rem;
    }
  }
}
