/* -------------------- COLORS --------------------- */

// Text
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

// Background gradient:
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

// Text
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

// Dividers
$light-grayish-blue: hsl(240, 5%, 91%);

/* -------------------- CSS RESET ------------------ */

/* prettier-ignore */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  font-size: 0.75rem;
}
body {
  background: linear-gradient($soft-violet, $soft-blue);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* prettier-ignore */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* prettier-ignore */
input, button, textarea, select {
  font: inherit;
}

/* prettier-ignore */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* -------------------- CSS RESET ------------------ */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
