/* -------------------- COLORS --------------------- */

// Text
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

// Background gradient:
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

// Dividers
$light-grayish-blue: hsl(240, 5%, 91%);

/* -------------------- CSS RESET ------------------ */

/* prettier-ignore */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.75rem;
  background: linear-gradient($soft-violet, $soft-blue);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: fit-content;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* prettier-ignore */
img, picture, video, canvas, svg {
  display: block;
}

/* prettier-ignore */
input, button, textarea, select {
  font: inherit;
}

/* prettier-ignore */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* -------------------- GRID CONTAINER ------------------ */

.grid-container {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 52rem;
  border-radius: 1.5rem;
}

/* -------------------- IMAGE CONTAINER ------------------ */
.hero-container {
  position: relative;
  overflow: hidden;

  .background-pattern-image {
    width: 53rem;
    top: -57%;
    left: -120%;
    position: absolute;
  }

  .hero-image {
    top: 50%;
    position: absolute;
    width: 27rem;
    transform: translate(-19%, -50%);
  }

  .orange-box-image {
    width: 10rem;
    top: 50%;
    transform: translate(-49%, -40%);
    position: fixed;
  }
}

/* -------------------- ACCORDION ------------------ */
.accordion-container {
  padding: 4.5rem 4.5rem 4.5rem 0rem;
  transition: all 0.3s;

  .accordion-title {
    line-height: 0;
    text-transform: uppercase;
    padding-bottom: 2rem;
    font-weight: 700;
  }

  .faq-list {
    list-style: none;
  }
}

// QUESTION
.question {
  display: grid;
  grid-template-columns: 1fr auto;
  border-bottom: 1px solid $light-grayish-blue;
  color: $very-dark-grayish-blue;
  align-items: center;
  cursor: pointer;

  .question-title {
    padding: 0.8rem 0;
  }

  .question-title:hover {
    cursor: pointer;
    color: $soft-red;
  }

  .btn {
    border: none;
    background-color: inherit;
    cursor: pointer;
  }

  .arrow-down-icon {
    transition: all 0.3s;
  }

  .question-text {
    margin-bottom: 0.5rem;
    opacity: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
  }
}

/* -------------------- FOOTER ------------------ */
.attribution {
  margin-top: 2rem;

  p {
    color: $light-grayish-blue;
    font-size: 11px;
    text-align: center;
  }

  a {
    color: $soft-red;
  }
}

/* -------------------- HELPER CLASSES ------------------ */
.active .question-text {
  display: block;
  opacity: 1;
  height: fit-content;
  margin-bottom: 0.8rem;
  max-height: fit-content;
}

.active .question-title {
  font-weight: 700;
  color: $very-dark-desaturated-blue;
  padding-bottom: 0.4rem;
}

.active .arrow-down-icon {
  rotate: 180deg;
}
