/* -------------------- COLORS --------------------- */
/* -------------------- CSS RESET ------------------ */
/* prettier-ignore */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.75rem;
  background: linear-gradient(hsl(273deg, 75%, 66%), hsl(240deg, 73%, 65%));
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* prettier-ignore */
img, picture, video, canvas, svg {
  display: block;
}

/* prettier-ignore */
input, button, textarea, select {
  font: inherit;
}

/* prettier-ignore */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* -------------------- GRID CONTAINER ------------------ */
.grid-container {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 52rem;
  border-radius: 1.5rem;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5);
}

/* -------------------- IMAGE CONTAINER ------------------ */
.hero-container {
  position: relative;
  overflow: hidden;
}
.hero-container .background-pattern-image {
  top: 50%;
  position: absolute;
  width: 53rem;
  transform: translate(-59%, -58%);
}
.hero-container .hero-image {
  top: 50%;
  position: absolute;
  width: 27rem;
  transform: translate(-19%, -50%);
}
.hero-container .orange-box-image {
  top: 50%;
  position: fixed;
  width: 10rem;
  transform: translate(-49%, -40%);
}

/* -------------------- ACCORDION ------------------ */
.accordion-container {
  padding: 4.5rem 4.5rem 4.5rem 0rem;
  transition: all 0.3s;
}
.accordion-container .accordion-title {
  font-size: 2rem;
  line-height: 0;
  text-transform: uppercase;
  padding-bottom: 2rem;
  font-weight: 700;
}
.accordion-container .faq-list {
  list-style: none;
}

.question {
  display: grid;
  grid-template-columns: 1fr auto;
  border-bottom: 1px solid hsl(240deg, 5%, 91%);
  color: hsl(237deg, 12%, 33%);
  align-items: center;
  cursor: pointer;
}
.question .question-title {
  font-size: 0.88rem;
  padding: 0.8rem 0;
}
.question .question-title:hover {
  cursor: pointer;
  color: hsl(14deg, 88%, 65%);
}
.question .btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.question .arrow-down-icon {
  transition: all 0.3s;
}
.question .question-text {
  margin-bottom: 0.5rem;
  opacity: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
}

/* -------------------- FOOTER ------------------ */
.attribution {
  margin-top: 3rem;
}
.attribution p {
  color: hsl(240deg, 5%, 91%);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(14deg, 88%, 65%);
}

/* -------------------- ACTIVE STATE ------------------ */
.active .question-text {
  display: block;
  opacity: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 0.8rem;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.active .question-title {
  font-weight: 700;
  color: hsl(238deg, 29%, 16%);
  padding-bottom: 0.4rem;
}

.active .arrow-down-icon {
  rotate: 180deg;
}/*# sourceMappingURL=style.css.map */