/* -------------------- COLORS --------------------- */

// Text
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

// Background gradient:
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

// Dividers
$light-grayish-blue: hsl(240, 5%, 91%);

/* -------------------- CSS RESET ------------------ */

/* prettier-ignore */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.75rem;
  background: linear-gradient($soft-violet, $soft-blue);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: fit-content;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* prettier-ignore */
img, picture, video, canvas, svg {
  display: block;
}

/* prettier-ignore */
input, button, textarea, select {
  font: inherit;
}

/* prettier-ignore */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* -------------------- GRID CONTAINER ------------------ */
.grid-container {
  position: relative;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 52rem;
  border-radius: 1.5rem;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5);

  .orange-box-image {
    width: 11rem;
    top: 50%;
    left: -10.5%;
    position: absolute;
    transform: translate(1%, -24.5%);
  }
}
/* -------------------- IMAGE CONTAINER ------------------ */
.hero-container {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;

  .background-pattern-image {
    top: 50%;
    position: absolute;
    width: 52.8rem;
    transform: translate(-59%, -58%);
  }
  .hero-image {
    width: 26.4rem;
    position: absolute;
    left: -18%;
  }
}

/* -------------------- ACCORDION ------------------ */
.accordion-container {
  padding: 4.5rem 4.5rem 4.5rem 0rem;
  transition: all 0.3s;

  .accordion-title {
    font-size: 2rem;
    line-height: 0;
    text-transform: uppercase;
    padding-bottom: 2rem;
    font-weight: 700;
  }

  .faq-list {
    list-style: none;
  }
}

// QUESTION
.question {
  display: grid;
  grid-template-columns: 1fr auto;
  border-bottom: 1px solid $light-grayish-blue;
  color: $very-dark-grayish-blue;
  align-items: center;
  cursor: pointer;

  .question-title {
    font-size: 0.88rem;
    padding: 0.8rem 0;
  }

  .question-title:hover {
    cursor: pointer;
    color: $soft-red;
    transition: all 0.225s;
  }

  .btn {
    border: none;
    background-color: inherit;
    cursor: pointer;
  }

  .arrow-down-icon {
    transition: all 0.3s;
  }

  .question-text {
    max-height: 0;
    overflow: hidden;
    transition: all 0.225s ease-in-out;
  }
}

/* -------------------- FOOTER ------------------ */
.attribution {
  margin-top: 3rem;

  p {
    color: $light-grayish-blue;
    font-size: 11px;
    text-align: center;
  }

  a {
    color: $soft-red;
  }
}

/* -------------------- ACTIVE STATE ------------------ */
.active .question-text {
  padding-bottom: 0.8rem;
  max-height: 4.2rem;
  transition: all 0.225s ease-in-out;
}

.active .question-title {
  font-weight: 700;
  color: $very-dark-desaturated-blue;
}

.active .arrow-down-icon {
  rotate: 180deg;
}
